<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'News Website', root_path, class:"navbar-brand" %>
  <% if user_signed_in? %>
    <% user = User.find_by(id: current_user.id) %>
    <h3 class="text-white"><%= user.name %></h3>

<% end %>
  <!--  <a class="navbar-brand" href="#"></a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>

        <li class="nav-item active">

          <%= link_to "Вийти", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Налаштування", edit_user_registration_path, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to "Увійти", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
      <% if current_user %>
        <% if Author.exists?(user_id: current_user.id) %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Таблиці
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" data-turbolinks-eval="false">

              <%= link_to "Posts", posts_path, class: "dropdown-item" %>
              <%= link_to "Post Types", post_types_path, class: "dropdown-item" %>
              <%= link_to "Keywords", keywords_path, class: "dropdown-item" %>
              <%#= link_to "Departments", departments_path, class: "dropdown-item" %>
              <%#= link_to "Patients Cards", patient_cards_path, class: "dropdown-item" %>
              <%#= link_to "Specializations", specializations_path, class: "dropdown-item" %>


          <!--          <a class="dropdown-item" href="#">Action1</a>-->
          <!--          <a class="dropdown-item" href="#">Another action</a>-->
          <!--          <div class="dropdown-divider"></div>-->
          <!--          <a class="dropdown-item" href="#">Something else here</a>-->

        </div>
      </li>
        <% end %>
      <% end %>
        <!--      <li class="nav-item">-->
        <!--        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
        <!--      </li>-->
    </ul>

    <form class="form-inline my-2 my-lg-0" action="<%= search_posts_author_path %>" method="GET">
      <div class="input-group">
        <%= select_tag 'search_posts_author', options_for_select(Author.all.map { |auth| [auth.user.name, auth.id] }), prompt: 'Оберіть Автора', class: 'custom-select' %>
        <div class="input-group-append">
          <button class="btn btn-outline-success my-2 my-sm-0 ml-2 mr-4" type="submit">Search</button>
        </div>
      </div>
    </form>

    <form class="form-inline my-2 my-lg-0" action="<%= search_posts_type_path %>" method="GET">
      <div class="input-group">
        <%= select_tag 'post_type', options_for_select(PostType.all.map { |pt| [pt.type, pt.id] }), prompt: 'Оберіть тип поста', class: 'custom-select' %>
        <div class="input-group-append">
          <button class="btn btn-outline-success my-2 my-sm-0 ml-2 mr-4" type="submit">Search</button>
        </div>
      </div>
    </form>



    <form class="form-inline my-2 my-lg-0" action="<%= search_path %>" method="get">
      <input class="form-control mr-sm-2" type="search" placeholder="Ключове слово" aria-label="Search" name="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Пошук</button>
    </form>


  </div>
</nav>