<h1>Новости</h1>

<div id="News">
  <div class="list-group">
    <% @posts.each do |post| %>
      <div class="list-group-item">
        <h5 class="mb-1"><%= post.title %></h5>
        <p class="mb-1"><%= post.post_text %></p>
        <p class="mb-1">Тип: <%= post.post_type.type %></p>
        <p class="mb-1">Автор: <%= post.authors.first&.user&.name %></p>


        <small><%= post.created_at %></small>
        <div class="mt-2">
          <% if current_user %>
            <p>Идентификатор текущего пользователя: <%= current_user.id %></p>
            <% if Author.exists?(user_id: current_user.id) %>
              <% author = Author.find_by(user_id: current_user.id) %>
              <p>Имя пользователя: <%= author.user.name %></p>
              <%= link_to "Редактировать", edit_post_path(post), class: "btn btn-secondary mr-2" %>
              <%= link_to "Подробнее", post_path(post), class: "btn btn-secondary", method: :delete, data: { confirm: "Вы уверены?" } %>
            <% end %>
          <% else %>
            <p>Пожалуйста, войдите в систему для выполнения действий.</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
